:root {
  --bgColor: #181818;
  --pannelColor: #282828;
  --textColor: #aaaaaa;
  --brandColor:#1DB954;/*spotify green, see spotify design guidelines*/
}

/*var(--blue);*/

/*these vars could be changed with js
using vars in media queries
*/

/*babel, webpack, gulp.js*/

/*create a div just for the bg?*/

/*include this file at the top of any servable html page*/